<div class="estilo divRegistro animated fadeIn">

<div class="card border-primary text-center" style="width: 35rem;">
  <div class="card-header text-center"><h5>CAMBIAR CONTRASEÑA</h5></div>
  <div class="card-body text-center">

    <form method="post">

      <div class="form-group col-sm-6">
        <input type="text" class="form-control" name="username"  id="username" [(ngModel)]="nuevoPasswordPayload.username" placeholder="Clave UCC" autofocus required style="width:410px">
      </div>

      <div class="form-group col-sm-6">
        <input type="text" class="form-control" name="username"  id="username" [(ngModel)]="nuevoPasswordPayload.codigoDeRecuperacion" placeholder="Código de verificación" autofocus required style="width:410px">
      </div>

      <div class="form-group col-sm-6">
        <input type="password" class="form-control" name="username"  id="username" [(ngModel)]="nuevoPasswordPayload.nuevoPassword" placeholder="Nueva contraseña" autofocus required style="width:410px">
      </div>

      <div class="form-group col-sm-3">
        <input type="submit" (click)="cambiarPassword()" class="btn btn btn-primary btn-block" value="CAMBIAR CONTRASEÑA" style="width:410px">
      </div>

    </form>


  </div>
</div>

<div class="row">
  <div class="col-4">
     <button class="boton btn btn-primary" role="button" [routerLink]="['/login']">VOLVER ATRÁS</button>
  </div>
</div>

</div>
