<div class="estilo divRegistro animated fadeIn">

<div class="card border-primary text-center" style="width: 35rem;">
  <div class="card-header text-center"><h5>CAMBIAR CONTRASEÑA</h5></div>
  <div class="card-body text-center">

    <form #cambiarPasswordForm="ngForm">

      <div class="form-group col-sm-6">
        <input type="text" class="form-control" name="username"  id="username" [(ngModel)]="nuevoPasswordPayload.username" placeholder="Clave UCC" autofocus required #username="ngModel" style="width:410px">
      </div>

      <div class="form-group col-sm-6">
        <input type="text" class="form-control" name="codigo"  id="codigo" [(ngModel)]="nuevoPasswordPayload.codigoDeRecuperacion" placeholder="Código de verificación" autofocus required #codigo="ngModel" style="width:410px">
      </div>

      <div class="form-group col-sm-6">
        <input type="password" class="form-control" name="password"  id="password" [(ngModel)]="nuevoPasswordPayload.nuevoPassword" [class.is-invalid]="password.invalid && password.touched" placeholder="Nueva contraseña de mínimo 6 caracteres" autofocus required #password="ngModel" minlength="6" style="width:410px">
        <small *ngIf="password.invalid && password.touched" class="form-text text-danger animated fadeIn">Debe contener un mínimo 6 caracteres</small>
      </div>

      <div class="form-group col-sm-3">
        <input type="submit" (click)="cambiarPassword()" class="btn btn btn-primary btn-block" value="CAMBIAR CONTRASEÑA" [disabled]="!cambiarPasswordForm.form.valid" style="width:410px">
      </div>

    </form>


  </div>
</div>

<div class="row">
  <div class="col-4">
     <button class="boton btn btn-primary" role="button" [routerLink]="['/login']">VOLVER ATRÁS</button>
  </div>
</div>

</div>
