<div class="estilo">

<div class="animated fadeIn cardcss card border-primary mb-3">
  <div class="card-header bg-transparent border-info">
    <h5 align="center">LISTADO DE PROYECTOS BIANUALES</h5>
  </div>
  <div class="card-body text-primary">

    <div *ngIf="proyectosBianuales?.length == 0" class="alert alert-info">
      No hay registros en la Base de Datos
    </div>

    <table class="table table-bordered table-striped text-center" *ngIf="proyectosBianuales?.length > 0" >
      <thead>
        <tr>
          <th>TÍTULO DEL PROYECTO</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let proyecto of proyectosBianuales">
          <td>{{proyecto.titulo}}</td>
      </tbody>
    </table>
  </div>
</div>

</div>
