<div class="estilo">

  <app-detalle-bianual-mis-proyectos *ngIf="proyectoSeleccionadoBianual" [proyecto]="proyectoSeleccionadoBianual"></app-detalle-bianual-mis-proyectos>

  <div class="animated fadeIn cardcss card border-primary mb-3">
    <div class="card-header bg-transparent border-info">
      <h5 align="center">LISTADO DE PROYECTOS BIANUALES</h5>
    </div>
    <div class="card-body text-primary">

      <div *ngIf="proyectosBianuales?.length == 0" class="alert alert-info">
        No hay registros en la Base de Datos
      </div>

      <table class="table table-bordered table-striped text-center" *ngIf="proyectosBianuales?.length > 0">
        <thead>
          <tr>
            <th>TÍTULO DEL PROYECTO</th>
            <th>ESTADO</th>
            <th>VER DETALLE COMPLETO</th>
            <th>EDITAR ACTIVIDADES</th>
            <th>INFORME FINAL</th>
            <th>RENDICIÓN CONTABLE</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let proyecto of proyectosBianuales">
            <td>{{proyecto.titulo}}</td>
            <td>{{proyecto.estado}}</td>
            <td>
              <button class="btn btn-outline-info" (click)="abrirModalBianual(proyecto)" role="button">DETALLE</button>
            </td>
            <td  *ngIf="(proyecto.estado == 'Activo') || (proyecto.estado == 'No Autorizado') || (proyecto.estado == 'Autorizado')">
              <button class="btn btn-outline-info" [routerLink]="['/ver-proyecto-bianual', proyecto.id]" role="button">EDITAR</button>
            </td>
            <td *ngIf="proyecto.estado == 'Activo'">
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSdp1_-g55r1F_YUhR-oY6HcOxGLUz082eidAUTYTdx55FWq8g/viewform" target="_blank">COMPLETAR INFORME</a>
            </td>
            <td *ngIf="proyecto.estado == 'Activo'">
              <button class="btn btn-outline-info" [routerLink]="['/proyecto-bianual/rendicion-contable', proyecto.id]" role="button">SUBIR ARCHIVO</button>
            </td>
        </tbody>
      </table>
    </div>
  </div>

  <app-detalle-especial-mis-proyectos *ngIf="proyectoSeleccionadoEspecial" [proyectoEspecial]="proyectoSeleccionadoEspecial"></app-detalle-especial-mis-proyectos>

  <div class="animated fadeIn cardcss card border-primary mb-3">
    <div class="card-header bg-transparent border-info">
      <h5 align="center">LISTADO DE PROYECTOS ESPECIALES</h5>
    </div>
    <div class="card-body text-primary">

      <div *ngIf="proyectosEspeciales?.length == 0" class="alert alert-info">
        No hay registros en la Base de Datos
      </div>

      <table class="table table-bordered table-striped text-center" *ngIf="proyectosEspeciales?.length > 0">
        <thead>
          <tr>
            <th>TÍTULO DEL PROYECTO</th>
            <th>ESTADO</th>
            <th>VER DETALLE COMPLETO</th>
            <th>EDITAR PROYECTO</th>
            <th>INFORME FINAL</th>
            <th>RENDICIÓN CONTABLE</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let proyecto of proyectosEspeciales">
            <td>{{proyecto.titulo}}</td>
            <td>{{proyecto.estado}}</td>
            <td>
              <button class="btn btn-outline-info" (click)="abrirModalEspecial(proyecto)" role="button">DETALLE</button>
            </td>
            <td *ngIf="(proyecto.estado == 'Activo') || (proyecto.estado == 'No Autorizado') || (proyecto.estado == 'Autorizado')">
              <button class="btn btn-outline-info" [routerLink]="['/ver-proyecto-especial', proyecto.id]" role="button">EDITAR</button>
            </td>
            <td *ngIf="proyecto.estado == 'Activo'">
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSdDM1rO5FS1VzvUusOIPz6i77gJdWkseeHT8hqLJWPXswN0qQ/viewform" target="_blank">COMPLETAR INFORME</a>
            </td>
            <td *ngIf="proyecto.estado == 'Activo'">
              <button class="btn btn-outline-info" [routerLink]="['/proyecto-especial/rendicion-contable', proyecto.id]" role="button">SUBIR ARCHIVO</button>
            </td>
        </tbody>
      </table>
    </div>
  </div>

  <app-detalle-bienestar-mis-proyectos *ngIf="proyectoSeleccionadoBienestar" [proyectoBienestar]="proyectoSeleccionadoBienestar"></app-detalle-bienestar-mis-proyectos>

  <div class="animated fadeIn cardcss card border-primary mb-3">
    <div class="card-header bg-transparent border-info">
      <h5 align="center">LISTADO DE PROYECTOS DE BIENESTAR</h5>
    </div>
    <div class="card-body text-primary">

      <div *ngIf="proyectosBienestar?.length == 0" class="alert alert-info">
        No hay registros en la Base de Datos
      </div>

      <table class="table table-bordered table-striped text-center" *ngIf="proyectosBienestar?.length > 0">
        <thead>
          <tr>
            <th>TÍTULO DEL PROYECTO</th>
            <th>ESTADO</th>
            <th>VER DETALLE COMPLETO</th>
            <th>EDITAR PROYECTO</th>
            <th>INFORME FINAL</th>
            <th>RENDICIÓN CONTABLE</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let proyecto of proyectosBienestar">
            <td>{{proyecto.titulo}}</td>
            <td>{{proyecto.estado}}</td>
            <td>
              <button class="btn btn-outline-info" (click)="abrirModalBienestar(proyecto)" role="button">DETALLE</button>
            </td>
            <td *ngIf="(proyecto.estado == 'Activo') || (proyecto.estado == 'No Autorizado') || (proyecto.estado == 'Autorizado')">
              <button class="btn btn-outline-info" [routerLink]="['/ver-proyecto-bienestar', proyecto.id]" role="button">EDITAR</button>
            </td>
            <td *ngIf="proyecto.estado == 'Activo'">
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSc3dDEmJ7eNFaiT4PUKYE2rSyAEyVfNnpYF52HPwcUN_XOzOQ/viewform" target="_blank">COMPLETAR INFORME</a>
            </td>
            <td *ngIf="proyecto.estado == 'Activo'">
              <button class="btn btn-outline-info" [routerLink]="['/proyecto-bienestar/rendicion-contable', proyecto.id]" role="button">SUBIR ARCHIVO</button>
            </td>
        </tbody>
      </table>
    </div>
  </div>

  <app-detalle-estable-mis-proyectos *ngIf="programaSeleccionadoEstable" [programaEstable]="programaSeleccionadoEstable"></app-detalle-estable-mis-proyectos>

  <div class="animated fadeIn cardcss card border-primary mb-3" *ngIf="authService.hasRole('ROLE_ADMIN')">
    <div class="card-header bg-transparent border-info">
      <h5 align="center">LISTADO DE PROGRAMAS ESTABLES</h5>
    </div>
    <div class="card-body text-primary">

      <div *ngIf="programasEstables?.length == 0" class="alert alert-info">
        No hay registros en la Base de Datos
      </div>

      <table class="table table-bordered table-striped text-center" *ngIf="programasEstables?.length > 0">
        <thead>
          <tr>
            <th>TÍTULO DEL PROGRAMA</th>
            <th>ESTADO</th>
            <th>VER DETALLE COMPLETO</th>
            <th>EDITAR ACTIVIDADES</th>
            <th>INFORME FINAL</th>
            <th>RENDICIÓN CONTABLE</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let programaEstable of programasEstables">
            <td>{{programaEstable.titulo}}</td>
            <td>{{programaEstable.estado}}</td>
            <td>
              <button class="btn btn-outline-info" (click)="abrirModalEstable(programaEstable)" role="button">DETALLE</button>
            </td>
            <td *ngIf="(programaEstable.estado == 'Activo') || (programaEstable.estado == 'No Autorizado') || (programaEstable.estado == 'Autorizado')">
              <button class="btn btn-outline-info" [routerLink]="['/ver-programa-estable', programaEstable.id]" role="button">EDITAR</button>
            </td>
            <td *ngIf="programaEstable.estado == 'Activo'">
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSfjc05fe8c4QREdAuYBY8SixeWA-XtDgMiW5f9aA7S2zJnseg/viewform" target="_blank">COMPLETAR INFORME</a>
            </td>
            <td *ngIf="programaEstable.estado == 'Activo'">
              <button class="btn btn-outline-info" [routerLink]="['/programa-estable/rendicion-contable', programaEstable.id]" role="button">SUBIR ARCHIVO</button>
            </td>
        </tbody>
      </table>
    </div>
  </div>

  <button class="boton btn btn-primary" role="button" [routerLink]="['/elegir-proyecto']">VOLVER ATRÁS</button>

</div>
