<div class="estilo divAlineado">

  <div class="animated fadeIn card border-info mb-3" style="max-width: 900px;">
    <div class="card-header bg-transparent border-info">
      <h5 align="center">PBCI - PROYECTO DE BIENESTAR DE LA COMUNIDAD INTERNA</h5>
    </div>
    <div class="card-body">
      <form autocomplete="off" #proyectoForm="ngForm">

        <div class='form-group row' *ngIf="!proyectoBienestar.id">
          <label for="titulo" class="col-form-label">Título del Proyecto:</label>
          <div class="col-9">
            <input type="text" class="form-control" [(ngModel)]="proyectoBienestar.titulo" name="titulo" [class.is-invalid]="titulo.invalid && titulo.touched" required #titulo="ngModel">
            <small *ngIf="titulo.invalid && titulo.touched" class="form-text text-danger">Campo requerido
            </small>
          </div>
        </div>

        <div class='form-group row' *ngIf="!proyectoBienestar.id">
          <label for="anio" class="col-form-label">Año de Presentación:</label>
          <div class="col-2">
            <input type="number" class="form-control" [(ngModel)]="proyectoBienestar.anioDePresentacion" name="anio" [class.is-invalid]="anio.invalid && anio.touched" required #anio="ngModel">
            <small *ngIf="anio.invalid && anio.touched" class="form-text text-danger">Campo requerido
            </small>
          </div>
        </div>

        <!-- ELEGIR TIPO DE PROYECTO CON RADIOBUTTON -->
        <div class="form-group row" *ngIf="!proyectoBienestar.id">
          <label>Tipo de Proyecto:</label>

          <div class="col-2">
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" name="tipo" id="nuevo" class="form-check-input mr-2" [(ngModel)]="proyectoBienestar.tipoDeProyecto" value="Nuevo"> Nuevo
              </label>
            </div>
          </div>

          <div class="col-2">
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" name="tipo" id="renovacion" class="form-check-input mr-2" [(ngModel)]="proyectoBienestar.tipoDeProyecto" value="Renovacion">Renovación
              </label>
            </div>
          </div>

        </div>

        <!--AUTOCOMPLETE PARA TEMATICAS -->

        <div class='form-group row' *ngIf="!proyectoBienestar.id">
          <div class="col-9">
            <mat-form-field class="full-width-prioridad">
              <input type="text" placeholder="Añadir Temática" aria-label="listaDeTematicas" matInput [formControl]="autocompleteControlTematica" [matAutocomplete]="autoTematicas">
              <mat-autocomplete #autoTematicas="matAutocomplete" [displayWith]="mostrarNombreTematica" (optionSelected)="seleccionarTematica($event)">
                <mat-option *ngFor="let tematica of tematicasFiltradas | async" [value]="tematica">
                  {{tematica.nombre}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>

        <div class='form-group row' *ngIf="!proyectoBienestar.id">
          <div class="col-4">
            <table class="table table-bordered" *ngIf="proyectoBienestar.listaDeTematicas?.length>0">
              <thead>
                <tr align="center">
                  <th>Tematica</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tematica of proyectoBienestar.listaDeTematicas">
                  <td>{{tematica.nombre}}</td>
                  <td><button class="btn btn-danger btn-sm" type="button" (click)="eliminarTematica(tematica.id)">X</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <!-- AUTOCOMPLETE PARA UNIDADES ACADEMICAS -->
        <div class='form-group row' *ngIf="!proyectoBienestar.id">
          <div class="col-6">
            <mat-form-field class="unidad-width">
              <input type="text" placeholder="Añadir Unidad Académica y/o Área" aria-label="listaDeUnidadesAcademicas" matInput [formControl]="autocompleteControlUnidadAcademica" [matAutocomplete]="autoUnidadAcademica">
              <mat-autocomplete #autoUnidadAcademica="matAutocomplete" [displayWith]="mostrarNombreUnidadAcademica" (optionSelected)="seleccionarUnidadAcademica($event)">
                <mat-option *ngFor="let unidad of unidadesAcademicasFiltradas | async" [value]="unidad">
                  {{unidad.nombre}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>

        <div class='form-group row' *ngIf="!proyectoBienestar.id">
          <div class="col-6">
            <table class="table table-bordered" *ngIf="proyectoBienestar.unidadesAcademicas?.length>0">
              <thead>
                <tr align="center">
                  <th>Unidad Académica/Área</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let unidad of proyectoBienestar.unidadesAcademicas">
                  <td>{{unidad.nombre}}</td>
                  <td><button class="btn btn-danger btn-sm" type="button" (click)="eliminarUnidadAcademica(unidad.id)">X</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!--AUTOCOMPLETE PARA CARRERAS -->
        <div class='form-group row' *ngIf="!proyectoBienestar.id">
          <div class="col-9">
            <mat-form-field class="full-width">
              <input type="text" placeholder="Añadir Carrera" aria-label="listaDeCarreras" matInput [formControl]="autocompleteControlCarrera" [matAutocomplete]="autoCarrera">
              <mat-autocomplete #autoCarrera="matAutocomplete" [displayWith]="mostrarNombreCarrera" (optionSelected)="seleccionarCarrera($event)">
                <mat-option *ngFor="let carrera of carrerasFiltradas | async" [value]="carrera">
                  {{carrera.nombre}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>

        <div class='form-group row' *ngIf="!proyectoBienestar.id">
          <div class="col-4">
            <table class="table table-bordered" *ngIf="proyectoBienestar.listaDeCarreras?.length>0">
              <thead>
                <tr align="center">
                  <th>Carrera</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let carrera of proyectoBienestar.listaDeCarreras">
                  <td>{{carrera.nombre}}</td>
                  <td><button class="btn btn-danger btn-sm" type="button" (click)="eliminarCarrera(carrera.id)">X</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- <div class='form-group row' *ngIf="!proyectoBienestar.id">
          <label for="catedra" class="col-form-label">Cátedra/s:</label>

          <div class="col-9">
            <input class="form-control" type="text" name="catedra" [class.is-invalid]="catedra.invalid && catedra.touched" [(ngModel)]="proyectoBienestar.catedra" required #catedra="ngModel">
            <small *ngIf="catedra.invalid && catedra.touched" class="form-text text-danger">Campo requerido</small>
          </div>

        </div> -->

        <div class="form-group row" *ngIf="!proyectoBienestar.id">
          <div class="col-9">
            <label for="catedra" class="col-form-label">Catedra/s:</label>
            <textarea class="form-control" [(ngModel)]="proyectoBienestar.catedra" required #catedra="ngModel" [class.is-invalid]="catedra.invalid && catedra.touched" name="catedra" style="width:492px"></textarea>
            <small *ngIf="catedra.invalid && catedra.touched" class="form-text text-danger">Campo requerido</small>
          </div>
        </div>


        <div class="card border-info mb-3" *ngIf="!proyectoBienestar.id">
          <div class="card-header text-center">
            <h5>MIEMBROS DEL EQUIPO</h5>
          </div>
          <div class="card-body">

            <div class="form-group row">
              <label for="nombreM" class="col-form-label">Nombre:</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" [(ngModel)]="nombreMiembroTexto" name="nombreM">
              </div>
            </div>


            <div class="form-group row">
              <label for="apellidoM" class="col-form-label">Apellido:</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" [(ngModel)]="apellidoMiembroTexto" name="apellidoM">
              </div>
            </div>

            <!-- <div class="form-group row">
              <label for="claveM" class="col-form-label">Clave:</label>
              <div class="col-sm-3">
                <input type="number" class="form-control" [(ngModel)]="claveMiembroTexto" name="claveM">
              </div>
            </div> -->

            <div class="form-group row">
              <label for="claveM" class="col-form-label">Clave:</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" [(ngModel)]="claveMiembroTexto" #claveM="ngModel" name="claveM" pattern="^[0-9]*$" minlength="7" [class.is-invalid]="claveM.invalid">
                <small *ngIf="claveM.invalid" class="form-text text-danger animated fadeIn">Campo inválido</small>
              </div>
            </div>

            <div class="form-group row">
              <label for="facultadM" class="col-form-label">Facultad o Área:</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" [(ngModel)]="facultadMiembroTexto" name="facultadM" style="width:340px">
              </div>
            </div>


            <div class="row">
              <div class="col-sm-6">
                <button class="boton btn btn-primary" role="button" (click)='agregarMiembro()'>Agregar nuevo miembro</button>
              </div>
            </div>

          </div>
        </div>


        <div class='form-group row' *ngIf="!proyectoBienestar.id">
          <div class="col-7">
            <table class="table table-bordered" *ngIf="proyectoBienestar.miembros?.length>0">
              <thead>
                <tr align="center">
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Clave</th>
                  <th>Facultad</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let miembro of proyectoBienestar.miembros">
                  <td>{{miembro.nombre}}</td>
                  <td>{{miembro.apellido}}</td>
                  <td>{{miembro.clave}}</td>
                  <td>{{miembro.facultad}}</td>
                </tr>
              </tbody>
            </table>
            <button class="btn btn-danger btn-sm" type="button" (click)="eliminarMiembro()">Eliminar miembros</button>
          </div>
        </div>

        <!-- CAMPOS DE LLENADO CON TEXTO -->

        <div class="card border-info mb-3" *ngIf="mostrarRenovacion && !proyectoBienestar.id">
          <div class="card-header text-center">
            <h5>RENOVACIÓN</h5>
          </div>
          <div class="card-body">
            <h6 class="card-title">Indique razones de orden académico y social que justifique la renovación del proyecto.</h6>
            <textarea class="form-control" rows="4" cols="50" [(ngModel)]="proyectoBienestar.razonRenovacion" name="razon"></textarea>
          </div>
        </div>

        <div class="row">
          <div *ngIf="mostrarRenovacion && !proyectoBienestar.id" class="col-sm-6">
            <button class="boton btn btn-primary" role="button" (click)=" mostrarRenovacion = !mostrarRenovacion " *ngIf="!proyectoBienestar.id">Es un proyecto nuevo</button>
          </div>
          <div *ngIf="!mostrarRenovacion && !proyectoBienestar.id" class="col-sm-6">
            <button class="boton btn btn-primary" role="button" (click)=" mostrarRenovacion = !mostrarRenovacion " *ngIf="!proyectoBienestar.id">Es una renovación</button>
          </div>
        </div>

        <div class="card border-info mb-3" *ngIf="!proyectoBienestar.id">
          <div class="card-header text-center">
            <h5>SITUACIÓN</h5>
          </div>
          <div class="card-body">
            <h6 class="card-title">Describa brevemente el problema o situación o demanda que pretende abordar con este proyecto.</h6>
            <textarea class="form-control" rows="4" cols="50" [(ngModel)]="proyectoBienestar.situacionAResolver" name="situacion" [class.is-invalid]="situacion.invalid && situacion.touched" required #situacion="ngModel"></textarea>
            <small *ngIf="situacion.invalid && situacion.touched" class="form-text text-danger">Campo requerido
            </small>
          </div>
        </div>

        <div class="card border-info mb-3" *ngIf="!proyectoBienestar.id">
          <div class="card-header text-center">
            <h5>SÍNTESIS DEL PROYECTO</h5>
          </div>
          <div class="card-body">
            <h6 class="card-title">Describa que se hará, como se hará, con quienes se hará y donde.</h6>
            <textarea class="form-control" rows="4" cols="50" [(ngModel)]="proyectoBienestar.sintesisDelProyecto" name="sintesis" [class.is-invalid]="sintesis.invalid && sintesis.touched" required #sintesis="ngModel"></textarea>
            <small *ngIf="sintesis.invalid && sintesis.touched" class="form-text text-danger">Campo requerido
            </small>
          </div>
        </div>

        <div class="card border-info mb-3" *ngIf="!proyectoBienestar.id">
          <div class="card-header text-center">
            <h5>OBJETIVO/S GENERAL/ES O META DEL PROYECTO</h5>
          </div>
          <div class="card-body">
            <h6 class="card-title">Establezca que se espera lograr como solución al problema que se identificó.</h6>
            <textarea class="form-control" rows="4" cols="50" [(ngModel)]="proyectoBienestar.objetivoGeneral" name="objetivoG" [class.is-invalid]="objetivoG.invalid && objetivoG.touched" required #objetivoG="ngModel"></textarea>
            <small *ngIf="objetivoG.invalid && objetivoG.touched" class="form-text text-danger">Campo requerido
            </small>
          </div>
        </div>


        <div class="card border-info mb-3" *ngIf="!proyectoBienestar.id">
          <div class="card-header text-center">
            <h5>OBJETIVOS ESPECÍFICOS</h5>
          </div>
          <div class="card-body">
            <h6 class="card-title">Describa que resultados se esperan alcanzar para dar cumplimiento a la meta u objetivo General.</h6>
            <textarea class="form-control" rows="4" cols="50" [(ngModel)]="proyectoBienestar.objetivoEspecifico" name="objetivoE" [class.is-invalid]="objetivoE.invalid && objetivoE.touched" required #objetivoE="ngModel"></textarea>
            <small *ngIf="objetivoE.invalid && objetivoE.touched" class="form-text text-danger">Campo requerido
            </small>
          </div>
        </div>

        <div class="card border-info mb-3" *ngIf="!proyectoBienestar.id">
          <div class="card-header text-center">
            <h5>BENEFICIARIOS DE SU PROPUESTA</h5>
          </div>
          <div class="card-body">
            <h6 class="card-title">Describa brevemente quienes serán los beneficiarios directos de las actividades que se desarrollarán en el marco del proyecto</h6>
            <textarea class="form-control" rows="4" cols="50" [(ngModel)]="proyectoBienestar.beneficiarios" name="beneficiarios" [class.is-invalid]="beneficiarios.invalid && beneficiarios.touched" required #beneficiarios="ngModel"></textarea>
            <small *ngIf="beneficiarios.invalid && beneficiarios.touched" class="form-text text-danger">Campo requerido
            </small>
          </div>


          <div class='form-group row'>
            <div class="col-9">
              <label for="numBen" class="col-form-label">N° aproximado de beneficiarios directos que estima alcanzar con las
                acciones propuestas:</label>
            </div>

            <div class="col-2">
              <input class="form-control" type="number" name="numBen" [class.is-invalid]="numBen.invalid && numBen.touched" [(ngModel)]="proyectoBienestar.numeroDeBeneficiarios" required #numBen="ngModel">
              <small *ngIf="numBen.invalid && numBen.touched" class="form-text text-danger">Campo requerido</small>
            </div>

          </div>

        </div>

        <br>

        <div class="card border-info mb-3">
          <div class="card-header text-center">
            <h5>ACTIVIDADES</h5>
          </div>
          <div class="card-body">

            <div class="form-group row">
              <label for="tipoAc" class="col-form-label">Tipo de actividad:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="tipoDeActividadTexto" name="tipoAc" style="width:680px">
              </div>
            </div>

            <div class="form-group row">
              <label for="indAc" class="col-form-label">Indicador de resultado:</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" [(ngModel)]="indicadorDeResultadoTexto" name="indAc" style="width:640px">
              </div>
            </div>

            <div class="form-group row">
              <label for="medioAc" class="col-form-label">Medio de verificación:</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" [(ngModel)]="medioDeVerificacionTexto" name="medioAc" style="width:645px">
              </div>
            </div>

            <div class="form-group row">
              <label for="insAc" class="col-form-label">Insumos requeridos:</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" [(ngModel)]="insumoRequeridoTexto" name="insAc" style="width:657px">
              </div>
            </div>

            <div class="form-group row">
              <label for="fechaIn" class="col-form-label">Fecha de inicio:</label>
              <div class="col-sm-6">
                <input type="Date" class="form-control" [(ngModel)]="fechaInicioTexto" name="fechaIn" style="width:222px">
              </div>
            </div>

            <div class="form-group row">
              <label for="fechaFin" class="col-form-label">Fecha de finalización:</label>
              <div class="col-sm-6">
                <input type="Date" class="form-control" [(ngModel)]="fechaFinalizacionTexto" name="fechaFin" style="width:180px">
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <button class="boton btn btn-primary" role="button" (click)='agregarActividad()'>Agregar Actividad</button>
              </div>
            </div>

        </div>
      </div>

            <div class='form-group row'>
              <div class="col-12">
                <table class="table table-bordered" *ngIf="proyectoBienestar.listaDeActividades?.length>0">
                  <thead>
                    <tr align="center">
                      <th>Tipo de actividad</th>
                      <th>Indicador de resultado</th>
                      <th>Medio de verificación</th>
                      <th>Insumos requeridos</th>
                      <th>Fecha de inicio</th>
                      <th>Fecha de finalización</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let actividad of proyectoBienestar.listaDeActividades">
                      <td>{{actividad.tipoDeActividad}}</td>
                      <td>{{actividad.indicadorDeResultado}}</td>
                      <td>{{actividad.medioDeVerificacion}}</td>
                      <td>{{actividad.insumoRequerido}}</td>
                      <td>{{actividad.fechaInicio | date:"longDate"}}</td>
                      <td>{{actividad.fechaFinalizacion | date:"longDate"}}</td>
                      <td *ngIf="proyectoBienestar.id"><button class="btn btn-danger btn-sm" type="button" (click)="eliminarActividad(actividad.id)">X</button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <br>



        <div class="row">
          <div class="col-sm-6">
            <button class="boton btn btn-primary" role="button" (click)='crearProyecto()' *ngIf="!proyectoBienestar.id else elseBlock" [disabled]="!proyectoForm.form.valid">CREAR PROYECTO</button>

            <ng-template #elseBlock>
              <button class="boton btn btn-primary" role="button" (click)='updateBienestar()' [disabled]="!proyectoForm.form.valid">EDITAR</button>
            </ng-template>

          </div>
        </div>

      </form>


    </div>
  </div>

  <!-- <div class="row" *ngIf="!proyectoBienestar.id">
    <div class="col-sm-6">
      <button class="boton btn btn-primary" [routerLink]="['/elegir-proyecto']" role="button">VOLVER ATRÁS</button>
    </div>
  </div> -->

  <div class="row" *ngIf="!proyectoBienestar.id">
    <div class="col-sm-6">
      <button class="boton btn btn-primary" [routerLink]="['/elegir-proyecto']" role="button">VOLVER ATRÁS</button>
    </div>
  </div>

  <div class="row" *ngIf="proyectoBienestar.id">
    <div class="col-sm-6">
      <button class="boton btn btn-primary" onclick="window.history.back()" role="button">VOLVER ATRÁS</button>
    </div>
  </div>

</div>
