<div class="estilo">

<div class="card text-white bg-dark mb-3 animated fadeIn ">
  <div class="card-header">{{titulo}}</div>
  <div class="card-body">

    <div class="container">
      <div class="row">

        <div class="col-sm">

          <ul *ngIf="proyectoBienestar" class="list-group text-dark mb-3">
            <li class="list-group-item active">TÍTULO: {{proyectoBienestar.titulo}}</li>
            <li class="list-group-item">AÑO: {{proyectoBienestar.anioDePresentacion}}</li>
          </ul>

          <div class="input-group mb-3">
            <div class="custom-file">
              <input (change)="seleccionarPresupuesto($event)" type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
              <label class="custom-file-label" for="inputGroupFile04">Seleccionar archivo</label>
            </div>
            <div class="input-group-append">
              <button (click)="subirPresupuesto()" class="btn btn-primary" type="button" id="inputGroupFileAddon04">Subir archivo</button>
            </div>
          </div>

          <div *ngIf="progreso >0 " class="progress" style="height:40px;">
            <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{width:progreso+'%'}" attr.aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">
              {{progreso}}%
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>

</div>
