<div class="abrir-modal animated fadeIn" *ngIf="modalProyectoBienestarSinteticoService.modal">
  <div class="modal" tabindex="-1" role="dialog" style="display:block;">
    <div class="modal-dialog modal-dialog-scrollable  modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-transparent border-info">
          <h5 class="modal-title">{{proyectoBienestar.titulo | uppercase}}</h5>
          <button (click)="cerrarModalSintetico()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">

            <div class="row">

              <div class="col-12">
                <ul *ngIf=proyectoBienestar class="list-group text-dark">
                  <li class="list-group-item active" align="center">DIRECTOR/A DEL PROYECTO</li>
                  <li class="list-group-item"><b>NOMBRE:</b>: {{proyectoBienestar.director.nombre}}</li>
                  <li class="list-group-item"><b>APELLIDO</b>: {{proyectoBienestar.director.apellido}}</li>
                  <li class="list-group-item"><b>CLAVE</b>: {{proyectoBienestar.director.clave}}</li>
                  <li class="list-group-item"><b>CORREO</b>: {{proyectoBienestar.director.email}}</li>
                  <li class="list-group-item"><b>CARGO</b>: {{proyectoBienestar.director.cargo.nombre}}</li>
                </ul>
              </div>

            </div>

            <br>


            <div class="row">

              <div class="col-12">
                <ul *ngIf=proyectoBienestar class="list-group text-dark">
                  <li class="list-group-item active" align="center">SÍNTESIS DEL PROYECTO</li>
                  <li class="list-group-item">{{proyectoBienestar.sintesisDelProyecto}}</li>
                </ul>
              </div>

            </div>

          </div>


        </div>


        <div class="modal-footer">
          <button (click)="cerrarModalSintetico()" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>


      </div>
    </div>
  </div>
