
<div class="estilo animated fadeIn">

 <div class="row text-center justify-content-center">

   <div class="col-6" *ngIf="!authService.hasRole('ROLE_ADMIN')">
    <div class="list-group" >
      <h3><button class="list-group-item list-group-item-action active">ELEGIR TIPO DE PROYECTO</button></h3>
      <ng-container *ngIf="projectsList.length == 0"> Cargando datos...</ng-container>
      <ng-container *ngIf="projectsList.length > 0">
        <div *ngFor="let project of projectsList|estado">
          <div class="card card-custom" [routerLink]="[project.route]">
            <div class="d-flex justify-content-between">
              <h5>{{project.tipoDeProyecto|uppercase}}</h5>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
   </div>


 <div *ngIf="authService.hasRole('ROLE_ADMIN')">
  <div class="col-9">
    <div class="list-group">
      <h3><button class="list-group-item list-group-item-action active">ELEGIR TIPO DE LINEA OPERATIVA</button></h3>
      <ng-container *ngIf="projectsList.length == 0"> Cargando datos...</ng-container>
      <ng-container *ngIf="projectsList.length > 0">
        <div *ngFor="let project of projectsList">
          <div class="card card-custom" >
            <div class="d-flex justify-content-between" >
             <div [routerLink]="[project.route]">
              <h5>{{project.tipoDeProyecto|uppercase}}</h5>
            </div>
              <div class="custom-control custom-switch">
                <input (change)="changeStatusProject(project)" [id]="project.tipoDeProyecto" [checked]="project.estado" [name]="project.tipoDeProyecto" type="checkbox"
                  class="custom-control-input">
                <label class="custom-control-label" [for]="project.tipoDeProyecto">Activar/Desactivar Línea Operativa</label>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

   </div>

   </div>




</div>




   <!-- <div class="col-3">
     <button class="btn btn-outline-secondary btn-block" [routerLink]="['/ver-mis-proyectos']">VER MIS PROYECTOS/PROGRAMAS</button>
   </div>

 </div>
 <br>
 <div *ngIf="authService.hasRole('ROLE_ADMIN')" class="row">
   <div class="col-6">
     <button class="btn btn-outline-secondary btn-block" [routerLink]="['/ver-usuarios']">VER LISTADO COMPLETO DE USUARIOS</button>
   </div>
 </div> -->
