<div class="estilo animated fadeIn">

  <div class="row text-center justify-content-center">

    <div class="col-6">
      <div class="list-group" id=mostrarOcultar>
        <h3><button class="list-group-item list-group-item-action active" [routerLink]="['/elegir-proyecto']">ELEGIR TIPO DE PROYECTO/PROGRAMA</button></h3>
        <div *ngIf="mostrarBianual">
          <h4><button type="button" class="list-group-item list-group-item-action" [routerLink]="['/proyecto-bianual']">PB - PROYECTO BIANUAL</button></h4>
        </div>
        <div *ngIf="authService.hasRole('ROLE_ADMIN')">
        <div *ngIf="mostrarEstable">
          <h4><button type="button" class="list-group-item list-group-item-action" [routerLink]="['/programa-estable']">PRG - PROGRAMA ESTABLE</button></h4>
        </div>
        </div>
        <div *ngIf="mostrarEspecial">
          <h4><button type="button" class="list-group-item list-group-item-action" [routerLink]="['/proyecto-especial']">PE - PROYECTO ESPECIAL</button></h4>
        </div>
        <div *ngIf="mostrarBienestar">
          <h4><button type="button" class="list-group-item list-group-item-action" [routerLink]="['/proyecto-bienestar']">PBCI - PROYECTO DE BIENESTAR INTERNO</button></h4>
        </div>
        <div *ngIf="authService.hasRole('ROLE_USER') || authService.hasRole('ROLE_USER')">
          <h4><button type="button" class="list-group-item list-group-item-action active" [routerLink]="['/ver-mis-proyectos']">VER MIS PROYECTOS</button></h4>
        </div>
      </div>
    </div>


    <div *ngIf="authService.hasRole('ROLE_ADMIN')" class="col-6">
      <div class="list-group" id=mostrarOcultar>
        <h3><button class="list-group-item list-group-item-action active" [routerLink]="['/elegir-proyecto']">VER PROYECTOS/PROGRAMAS</button></h3>
        <div>
          <h4><button type="button" class="list-group-item list-group-item-action" [routerLink]="['/ver-proyectos-no-autorizados']">NO AUTORIZADOS</button></h4>
        </div>
        <div>
          <h4><button type="button" class="list-group-item list-group-item-action" [routerLink]="['/ver-proyectos-autorizados']">AUTORIZADOS</button></h4>
        </div>
        <div>
          <h4><button type="button" class="list-group-item list-group-item-action" [routerLink]="['/ver-proyectos-activos']">ACTIVOS</button></h4>
        </div>
        <div>
          <h4><button type="button" class="list-group-item list-group-item-action" [routerLink]="['/ver-proyectos-finalizados']">FINALIZADOS</button></h4>
        </div>
      </div>
    </div>

  </div>

  <br>

  <div *ngIf="authService.hasRole('ROLE_ADMIN')" class="row">

    <!-- <div *ngIf="!mostrarBianual" class="col-3">
      <button (click)=" mostrarBianual = !mostrarBianual " class="btn btn-outline-success btn-block">
        Activar PB
      </button>
    </div>

    <div *ngIf="mostrarBianual" class="col-3">
      <button (click)=" mostrarBianual = !mostrarBianual " class="btn btn-outline-danger btn-block">
        Desactivar PB
      </button>
    </div> -->

    <div class="col-3" >
      <button (click)="cambiarEstado()" class="btn btn-outline-success btn-block">
        Activar/Desactivar PB
      </button>
    </div>

    <div *ngIf="!mostrarEstable" class="col-3">
      <button (click)=" mostrarEstable = !mostrarEstable " class="btn btn-outline-success btn-block">
        Activar PRG
      </button>
    </div>

    <div *ngIf="mostrarEstable" class="col-3">
      <button (click)=" mostrarEstable = !mostrarEstable " class="btn btn-outline-danger btn-block">
        Desactivar PRG
      </button>
    </div>

    <div class="col-6">
      <button class="btn btn-outline-secondary btn-block" [routerLink]="['/ver-mis-proyectos']">VER MIS PROYECTOS/PROGRAMAS</button>
    </div>

  </div>


  <br>

  <div *ngIf="authService.hasRole('ROLE_ADMIN')" class="row">

    <div *ngIf="!mostrarEspecial" class="col-3">
      <button (click)=" mostrarEspecial = !mostrarEspecial " class="btn btn-outline-success btn-block">
        Activar PE
      </button>
    </div>

    <div *ngIf="mostrarEspecial" class="col-3">
      <button (click)=" mostrarEspecial = !mostrarEspecial " class="btn btn-outline-danger btn-block">
        Desactivar PE
      </button>
    </div>


    <div *ngIf="!mostrarBienestar" class="col-3">
      <button (click)=" mostrarBienestar = !mostrarBienestar " class="btn btn-outline-success btn-block">
        Activar PBCI
      </button>
    </div>

    <div *ngIf="mostrarBienestar" class="col-3">
      <button (click)=" mostrarBienestar = !mostrarBienestar " class="btn btn-outline-danger btn-block">
        Desactivar PBCI
      </button>
    </div>

    <div class="col-6">
      <button class="btn btn-outline-secondary btn-block" [routerLink]="['/ver-usuarios']">VER LISTADO COMPLETO DE USUARIOS</button>
    </div>

  </div>

</div>
